<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="Keywords" content="WOMDEE">
        <meta name="Description" content="We created tackling first-world problems like low battery and slow data access to make life better">
        <title>womdee</title>
        <link rel="stylesheet" type="text/css" href="/css/contact.css" />
        <link rel="stylesheet" type="text/css" href="/css/inner.css" />
    </head>
    <body>
    <include file="Public:top" />
    <div class="block">
        <include file="public_left" />
        <div class="mainbar">
            <div class="about_top">
                <h2 class="article_title">About Us</h2>
                Womdee is one of the leading online brands distributing fashionable and good quality clothes and other accessories. It’s what’s new and what’s now for young fashion-forward women. We started as an experiment–an offshoot of another successful retail concept. There is nothing but opportunity in front of us and we will take it.
                <br>
                <br>
We aren’t inventors – there are so few of those in the world of fashion today – nor are we imitators, that is far too easy. In order to closely maintain the steps with the ever-changing fashion trends, we find inspiration and trends from all over the world and attempt to apply these elements to our latest design. 
                <br>
                <br>
We promise to provide a wide range of high quality, trendy fashion clothes at stunning factory direct prices along with a class-leading customer service to our customers all over the world.
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
    <include file="Public:foot" />