<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="Keywords" content="WOMDEE">
        <meta name="Description" content="We created tackling first-world problems like low battery and slow data access to make life better">
        <title>womdee</title>
        <link rel="stylesheet" type="text/css" href="/css/contact.css" />
        <link rel="stylesheet" type="text/css" href="/css/inner.css" />
    </head>
    <body>
    <include file="Public:top" />
    <div class="wrap">
        <div class="block">
            <include file="public_left" />
            <div class="mainbar">
                <div class="about_top contact_us">
                    <h5 class="article_title">{$data['center_title']}</h5>
                    <br>
                    <br>
                    EMAIL US
                    <br>
                    <br>
                    <a href="mailto:service@Womdee.com">service@Womdee.com</a>
                    <br>
                    Please allow up to 24 hours to receive a response to your email.
                </div>
            </div>

        </div>

    </div>
    <include file="Public:foot" />