<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="Keywords" content="WOMDEE">
        <meta name="Description" content="We created tackling first-world problems like low battery and slow data access to make life better">
        <title>womdee</title>
        <link rel="stylesheet" type="text/css" href="/css/contact.css" />
        <link rel="stylesheet" type="text/css" href="/css/inner.css" />
    </head>
    <body>
    <include file="Public:top" />
    <div class="wrap">
        <div class="block">
            <div class="position">{:L('LABEL_YOUR_POSITION')} <a href="/">{:L('LABEL_HOME')}</a> <code>&gt;</code> <a href="/how-to-order.html">How to order</a>
            </div>
            <div class="cut_line">
                <span class="left_line"></span><span class="right_line"></span>
            </div>
            <h1 class="title">How to order</h1>
            <div class="wrapper business_wrap">
                <div class="content_text clearfix">
                    <div style="margin-bottom: 12px;">
                        Womdee and Amazon are working together to provide the high quality, trendy fashion clothes at stunning factory direct prices along with a class-leading customer service to our customers all over the world.
                    </div>
                    <div>
                        You can select your country and find your favorites at our website, then you can click the “Buy at Amazon” button, then you will find our store and the items you chose at Amazon, You can place your order now.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <include file="Public:foot" />