<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="Keywords" content="WOMDEE">
        <meta name="Description" content="We created tackling first-world problems like low battery and slow data access to make life better">
        <title>womdee</title>
        <link rel="stylesheet" type="text/css" href="/css/contact.css" />
        <link rel="stylesheet" type="text/css" href="/css/inner.css" />
    </head>
    <body>
    <include file="Public:top" />
    <div class="wrap">
        <div class="block">
            <div class="position">{:L('LABEL_YOUR_POSITION')} <a href="/">{:L('LABEL_HOME')}</a> <code>&gt;</code> <a href="/privacy-security-policy.html">PrivacySecurityPolicy</a>
            </div>
            <div class="cut_line">
                <span class="left_line"></span><span class="right_line"></span>
            </div>
            <h1 class="title">privacySecurityPolicy</h1>
            <div class="wrapper business_wrap">
                <div class="content_text clearfix concant-us-text">
                    When you register on our website or through other companies products or services, or visit the company website, the site will collect your personal information, including name, phone number, zip code, and address. We take great precautions to keep the information you share with us safe and private. We promise not to sell or provide your personal information to anyone or any companies without your authorization. 
                    <br>
                    <br>
                    <br>
Customer information collected by the site is confidential, except:
                    <br>
                    <br>
1. when the company share the information under your authorization;
                    <br>
                    <br>
2. when disclosing your personal information to provide you with requested products and services;
                    <br>
                    <br>
3. when to safeguard the interests of other users and the public;
                    <br>
                    <br>
The revised privacy policy website reserves the right to make changes.
                </div>
            </div>
        </div>
    </div>
    <include file="Public:foot" />