<div class="about_sidebar">
    <ul class="about_side_nav">
        <li {$show_about_us}><span><em class="about_side_nav_dot"></em><a href="/about-us.html">{:L('LABEL_OUR_COMPANT')}</a></span></li>
        <li><span><em class="about_side_nav_dot"></em><a href="/">{:L('LABEL_PRESS_CENTER')}</a></span></li>
        <li><span><em class="about_side_nav_dot"></em><a href="/">{:L('TEXT_POWER')}</a></span></li>
        <li><span><em class="about_side_nav_dot"></em><a href="/">{:L('LABEL_SERVICE')}</a></span></li>
        <li {$show_contact_us}><span><em class="about_side_nav_dot"></em><a href="/contact-us.html">{:L('LABEL_CONTACT_US')}</a></span></li>
    </ul>
</div>