<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="Keywords" content="WOMDEE">
        <meta name="Description" content="We created tackling first-world problems like low battery and slow data access to make life better">
        <title>womdee</title>
        <link rel="stylesheet" type="text/css" href="/css/contact.css" />
        <link rel="stylesheet" type="text/css" href="/css/inner.css" />
    </head>
    <body>
    <include file="Public:top" />
    <div class="wrap">
        <div class="block">
            <div class="position">{:L('LABEL_YOUR_POSITION')} <a href="/">{:L('LABEL_HOME')}</a> <code>&gt;</code> <a href="/size-and-fit-guides.html">Size and Fit Guides</a>
            </div>
            <div class="cut_line">
                <span class="left_line"></span><span class="right_line"></span>
            </div>
            <h1 class="title">Size and Fit Guides</h1>
            <div class="wrapper business_wrap">
                <div class="content_text clearfix concant-us-text">
                    All size conversions are approximate. Fits may turn out to have minor difference by style or personal preference; and sizes may vary by manufacturers.
                    <br>
                    <br>
                    <h2>Apparel</h2>
                    <p>
                        <img src="/image/size.png">
                    </p>
                    <h2>Dress Measuring Guide</h2>
                    <br>
The operation instruction below is just a guide. We highly recommend that you ask someone else for help to finish the measurements for you in case you can get inaccurate numbers and may lead to disappointment. And put on undergarments you will wear with your dress; do not wear other clothes when measuring.
                    <br>
                    <br>
                    <h2>For Standard Dresses</h2>
                    <br>
                    <p style="text-align: center;">
                        <img src="/image/size/bust.png">
                        <h3 style="text-align: center;">Bust</h3>
                    </p>
                    <br>
                    It is not your bra size! Take the tape around your back and bring it across the fullest part of your bust. Your arms should be relaxed, down at your sides. You need to wear a bra when measuring.
                    <br>
                    <br>
                    <br>
                    <p style="text-align: center;">
                        <img src="/image/size/waist.png">
                        <h3 style="text-align: center;">Waist</h3>
                    </p>
                    <br>
                    This is the smallest part of your waist. It refers to the narrowest point between the bottom of the rib cage and the pelvis. Also known as the natural waistline.
                    <br>
                    <br>
                    <br>
                    <p style="text-align: center;">
                        <img src="/image/size/hips.png">
                        <h3 style="text-align: center;">Hips</h3>
                    </p>
                    <br>
                    This is the widest part of your hips, across the hipbone. Measurement is taken approximately 7 inches below the natural waistline. This measurement is not needed for full gowns.
                    <br>
                    <br>
                    <br>
                    <p style="text-align: center;">
                        <img src="/image/size/floor.png">
                        <h3 style="text-align: center;">Hollow to Floor</h3>
                    </p>
                    <br>
                    This is the length from your hollow ( the hollow just under your neck ) to your heels. (Take the tape from your front, with bare foot ). You should stand upright and put your feet together.
                    <br>
                    <br>
                    <br>
                    <p style="text-align: center;">
                        <img src="/image/size/height.png">
                        <h3 style="text-align: center;">Height</h3>
                    </p>
                    <br>
                    You need to stand straight and put your feet together without shoes. And begin to pull tape straightly  from the top of your head to the floor.
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <include file="Public:foot" />