<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="Keywords" content="WOMDEE">
        <meta name="Description" content="We created tackling first-world problems like low battery and slow data access to make life better">
        <title>womdee</title>
        <link rel="stylesheet" type="text/css" href="/css/contact.css" />
        <link rel="stylesheet" type="text/css" href="/css/inner.css" />
    </head>
    <body>
    <include file="Public:top" />
    <div class="wrap">
        <div class="block">
            <div class="position">{:L('LABEL_YOUR_POSITION')} <a href="/">{:L('LABEL_HOME')}</a> <code>&gt;</code> <a href="/terms-conditions.html">Terms & Conditions</a>
            </div>
            <div class="cut_line">
                <span class="left_line"></span><span class="right_line"></span>
            </div>
            <h1 class="title">Terms & Conditions</h1>
            <div class="wrapper business_wrap">
                <div class="content_text clearfix concant-us-text">
                    Welcome to the Womdee website, www.womdee.com (the “Site”). Except as otherwise noted herein, these terms and conditions (the “Terms”) govern your use of the Womdee Website and Womdee’s services, applications, content and products (collectively, the “Site”). Please note that your use of our Site constitutes your agreement to follow and be bound by those terms (the “Agreement”).
                    <br>
                    <br>
                    <h2 style="font-weight: 620;">GENERAL</h2>
                    <br>
Womdee reserves the right to change the terms that govern your use of the Site from time to time. For this reason, we suggest you to browse these Terms whenever you access to our Site. By visiting the site, you agree to accept any such chages.
                    <br>
                    <br>
                    <h2 style="font-weight: 620;">RESTRICTIONS of USE</h2>
                    <br>
All the information and content, such as text, data, wallpaper, icons, characters, artwork, images, photographs, graphics, music, sound, messages, software and the HTML used to generate the pages on this Site (collectively, “Material”) are owned by Womdee. No material from the Site may be copied, reproduced, republished, uploaded, posted, transmitted or distributed in any way, except as specifically permitted on the Site. Except as otherwise provided on the site or in these Terms, you may not reproduce, distribute, republishe, download, display, post, transmit, or copy in any form or by any means without the prior permission of Womdee. Any permission granted herein solely for your personal, noncommercial use as described below. We reserve the right, for any reason or for no reason, to revise the products and services described on the Site and to terminate, change, suspend or discontinue any aspect of the Site. 
                </div>
            </div>
        </div>
    </div>
    <include file="Public:foot" />