<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="Keywords" content="WOMDEE">
        <meta name="Description" content="We created tackling first-world problems like low battery and slow data access to make life better">
        <title>womdee</title>
        <link rel="stylesheet" type="text/css" href="/css/contact.css" />
        <link rel="stylesheet" type="text/css" href="/css/inner.css" />
    </head>
    <body>
    <include file="Public:top" />
    <div class="wrap">
        <div class="block">
            <div class="position">{:L('LABEL_YOUR_POSITION')} <a href="/">{:L('LABEL_HOME')}</a> <code>&gt;</code> <a href="/wholesale.html">Wholesale</a>
            </div>
            <div class="cut_line">
                <span class="left_line"></span><span class="right_line"></span>
            </div>
            <h1 class="title">Wholesale</h1>
            <div class="wrapper business_wrap">
                <div class="content_text clearfix concant-us-text">
                    <p>
                        Womdee is an online store that aims at providing the most fashionable clothes to customers all over the world. And our goal is to be the largest online wardrobe in the world in five years. 
                    </p>
                    <p>
We also welcome wholesalers except offering clothing and service for retail. Here are some reasons that you would like to choose us:
                    </p>
                    <p>
                        - Latest & Fashionable Design
                    </p>
                    <p>
                        - Numerous Items to Choose From
                    </p>
                    <p>
                        - Superior in Quality 
                    </p>
                    <p>
                        - Adequate Inventory
                    </p>
                        - Free Shipping
                    </p>
                    <p>
                        We will also offer heavy discount and VIP service to wholesalers. If you would like to cooperate with us, you can place sample order to examine our products. But we donot offer the wholesale price on the sample order. Hope you could understand.
                        If you wanna konw about our wholesale price, please contact us at <a href="mailto:service@womdee.com">service@womdee.com</a>.
                        If you have any other questions, please feel free to email us: <a href="mailto:service@womdee.com">service@womdee.com</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <include file="Public:foot" />