<link rel="stylesheet" type="text/css" href="/css/nav.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<script src="/js/jquery19.js"></script>
<script src="/js/home.js"></script>
<div id="nav">
    <div id="navWrap">
        <a href="/" id="navLogo"><img src="/image/logo.png"></a>
        <div class="pr" id="navRight" style="text-align: right;">
            <span class="t-muted" id="navNotLogin">
                <empty name="username">
                    <a href="/login.html">{:L('BTN_LOGIN')}</a><span> / </span>
                    <a href="/register.html">{:L('BTN_REGISTER')}</a>
                    <else />
                    <a href="/">{$username}</a><span> / </span>
                    <a href="/logout.html">{:L('BTN_LOGOUT')}</a>
                </empty>
            </span>
            <span class="p-png-search p-btn-show-search"><img style="vertical-align:bottom; cursor: pointer;" src="/image/search.png" title="search"></span>
            <span class="png-search btn-show-search"></span>
            <span class="ml30" id="nav-control" onclick="ShowMenu();" style="vertical-align: top;"><i class="icon-align-justify" style="font-size:16px;"><em>≡</em></i></span>
            
            <div class="search-box" style="margin-top: 6px; box-sizing: border-box; display: none;">
                <form action="/Product/productSearch" method="get">

                    <input type="text" name="search_key">
                    <button type="submit" style="cursor: pointer; background-color: #a15d03; color: #fff">{:L('BTN_SEARCH')}</button>

                </form>
            </div>
           
        </div>
        <div class="m-search-box">
            <form action="/Product/productSearch" method="get">
                <input type="text" name="search_key">
                <button type="submit" style="cursor: pointer; background-color: #a15d03; color: #fff">{:L('BTN_SEARCH')}</button>
            </form>
        </div>
        <ul id="navMain">
            <volist name="category_menu" id="menu">
                <notempty name="menu['child_category']">
                    <li class="has-more">
                        <a class="nolink" href="{$menu['url']}" style="margin-right: 100px;">{$menu['category_title']} </a>
                        <label class="btn-more">more</label>
                        <ul class="nav-sub1">
                            <volist name="menu['child_category']" id="child_menu">
                                <li>
                                    <a class="nolink" href="{$child_menu['url']}">{$child_menu['category_title']}</a>
                                    <div class="nav-sub2-cover">
                                        <div class="nav-power">
                                            <a href="{$child_menu['url']}">
                                                <!--                                                <img src="/img/navPowerIQ.png">-->
                                            </a>
                                        </div>
                                    </div>
                                    <ul class="nav-sub2">
                                        <volist name="child_menu['child_category']" id="child_child_menu">
                                            <li>
                                                <a href="{$child_child_menu['url']}">
                                                    <!--                                                    <img src="/img/nav/external_batteries.jpg">-->
                                                    <p>
                                                        {$child_child_menu['category_title']}
                                                    </p>
                                                </a>
                                            </li>
                                        </volist>
                                    </ul>
                                </li>
                            </volist>
                        </ul>
                    </li>
                    <else/>
                    <li><a class="nolink" href="{$menu['url']}">{$menu['category_title']} </a></li>
                </notempty>
            </volist>
            <div class="nav-sub1-cover"></div>
        </ul>
    </div>
</div>
<div class="cb" id="navGap"></div>