A.applink:hover {border: 2px dotted #DCE6F4;padding:2px;background-color:#ffff00;color:green;text-decoration:none}
A.applink       {border: 2px dotted #DCE6F4;padding:2px;color:#2F5BFF;background:transparent;text-decoration:none}
A.info          {color:#2F5BFF;background:transparent;text-decoration:none}
A.info:hover    {color:green;background:transparent;text-decoration:underline}

#navMain .nolink:hover{text-decoration: none;}
.navHidden{
    display: none !important;
}

body>iframe{position: absolute; bottom: 0; z-index: -1;}
#videoCover iframe{bottom: auto;z-index: 0;}
#share_li iframe{z-index: 999}

.wablock {
    font-size: 110%;
    padding-bottom: 50px;
}
.wablock dt {
    font-size: 120%;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.spspan {
    overflow: hidden;
    padding-left: 80px;
}
.spspan span {
    display: inline;
    float: left;
    width: 150px;
}
.spspan span.long {
    width: 250px;
}
.contact_form {
    margin-left: 5%;
    padding: 15px 15px 50px;
    width: 75%;
}
.contact_form .sb_btn {
    float: left;
}
.contact_us .contact_form p {
    padding: 5px 0;
}
.contact_us .contact_form_topbar {
    padding-bottom: 20px;
}
.form_span {
    margin-left: 5px;
}


#videoCover iframe{bottom: auto;z-index: 0;}
#share_li iframe{z-index: 999}