<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="Keywords" content="womdee">
        <meta name="Description" content="We created tackling first-world problems like low battery and slow data access to make life better">
        <title>womdee</title>
        <link rel="stylesheet" type="text/css" href="/css/member.css" />
    </head>
    <body>
    <include file="Public:top" />
    <div class="wrapper_block">
        <div class="sign_bar wraps">
            <div class="padding_bar">
                <div class="other_login">
                    <p class="login_title">{:L('LOGIN_TITLE_OTHER')}</p>
                    <p>
                        <span class="lg_span">
                            <a class="lg_btn" href="{$google_login_url}">
                                <span class="lg_ico gg_ico"></span>
                                <span class="lg_btn_txt">{:L('LOGIN_WITH_GOOGLE')}</span>
                            </a>
                            <br>
                            <em>{:L('LOGIN_WITH_GOOGLE_INFO')}</em>
                        </span>
                        <span class="lg_span">
                            <a class="lg_btn" href="{$fb_login_url}">
                                <span class="lg_ico fb_ico"></span>
                                <span class="lg_btn_txt">{:L('LOGIN_WITH_FACEBOOK')}</span>
                            </a>
                            <br>
                            <em>{:L('LOGIN_WITH_FCAEBOOK_INFO')}</em>
                        </span>
                    </p>
                </div>
                <form method="post" action="{:U('index.php/UserRegister/checkLogin/')}" class="form sign_form">
                    <p class="login_title">{:L('LOGIN_TITLE')}</p>
                    <p>
                        <label>{:L('TEXT_EMAIL')}</label><br>
                        <input type="text" name="username" class="txt" lang="notnull" notnull="1">
                        <label class="ErrorText">{:L('NOTNULL_USERNAME')}</label>
                    </p>
                    <p>
                        <label>{:L('TEXT_PASSWORD')}</label><br>
                        <input type="password" autocomplete="off" name="password" class="txt" lang="notnull" notnull="1">
                        <label class="ErrorText">{:L('NOTNULL_PASSWORD')}</label>
                    </p>
                    <p>
                        <!--
                        <input type="checkbox" checked="" name="remember">{:L('STAY_LOGIN')} --><a href="/reset_password.html" class="form_a">{:L('FORGET_PASSWORD')}</a>
                    </p>
                    <p></p>
                    <p></p>
                    <p>
                        <input type="hidden" name="refer" value="{$_GET['p']}">
                        <input type="button" class="btn sb_btn btn_login" value="{:L('BTN_LOGIN')}">
                    </p>
                    <div class="login_up">{:L('NOT_HAS_ACCOUNT')}
                        <a href="/register.html" class="form_a">{:L('CREATE_ACCOUNT')}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <include file="Public:foot" />