<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="Keywords" content="ANKER">
        <meta name="Description" content="We created tackling first-world problems like low battery and slow data access to make life better">
        <title>womdee</title>
        <link rel="stylesheet" type="text/css" href="/css/nav.css" />
        <link rel="stylesheet" type="text/css" href="/css/member.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>
<body>
<include file="Public:top" />

<div class="wrapper_block">
    <div class="sign_bar wraps">
        <div class="padding_bar">            
            <form method="post" action="/actionResetPassword" class="form sign_form">
            <switch name="refer">
                <case value="login">
                    <p class="login_title">{:L('LEABL_ACCPUNT_NOT_ACTIVE')}</p>
                </case>
                <case value="reset_password">
                    <p class="login_title">{:L('LABEL_RESET_PASS_SENDED_EMAIL')}</p>
                </case>
                <default />
                    <p class="login_title">{:L('LABEL_REGISTER_SUCCESS')}</p>
            </switch>
            <switch name="refer">
                <case value="reset_password">
                    <dl class="forgot_slide">               
                        <dd>
                            <p>{:L('LABLE_GOMAIL_RECEIVE')}</p>
                            <p>
                                <a href="{$mail_host}" target="_blank">{:L('BTN_GOMAIL')}</a>
                            </p>
                        </dd>

                    </dl>
                </case>
                <default />
                    <dl class="forgot_slide">               
                        <dd>
                            <p>{:L('REQUIRE_ACTIVE_ACCOUNT')}</p>
                            <p>
                                <a href="{$mail_host}" target="_blank">{:L('BTN_ACTIVE_ACCOUNT')}</a>
                            </p>
                        </dd>

                    </dl>
            </switch>           
            </form>      
        </div>    
    </div>
</div>

<include file="Public:foot" />