<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="Keywords" content="ANKER">
        <meta name="Description" content="We created tackling first-world problems like low battery and slow data access to make life better">
        <title>womdee</title>
        <link rel="stylesheet" type="text/css" href="/css/member.css" />
    </head>
    <body>
    <include file="Public:top" />
    <div class="wrapper_block">
        <div class="sign_bar wraps">
            <div class="padding_bar">
                <form method="post" action="/UserRegister/actionResetPassword" class="form sign_form">
                    <p class="login_title">{:L('LABEL_FORGET_PASSWORD_TITLE')}</p>
                    <dl class="forgot_slide">
                        <dd>
                            <p>{:L('LABEL_RESET_PASS_INFO')}</p>
                            <p><label>{:L('TEXT_EMAIL')}</label><br>
                                <input type="text" name="email" class="txt" lang="email" actype="reset_password" notnull="1">
                                <label class="ErrorText">{:L('ERROR_EMAIL')}</label>
                                <label class="Err error_user_msg">{:L('LABEL_ACCOUNT_NOT_EXISTS')}</label>
                            </p>
                        </dd>
                        <dd>
                            <input type="button" class="btn sb_btn btn_reset_password" value="{:L('BTN_CONTINUE')}">
                        </dd>
                    </dl>
                    <div class="login_up">{:L('NOT_HAS_ACCOUNT')} <a href="/register.html">{:L('BTN_CREATE_NEW_ACCOUNT')}</a></div>
                </form>
            </div>
        </div>
    </div>
    <include file="Public:foot" />