<foreach name="reviews" item="rs">
    <div class="review-item">
        <p>
            <span class="star small">
                <switch name="rs['review_rate']">
                    <case value="5">
                        <span class="active" star="1"></span>
                        <span class="active" star="2"></span>
                        <span class="active" star="3"></span>
                        <span class="active" star="4"></span>
                        <span class="active" star="5"></span>
                    </case>
                    <case value="4">
                            <span class="active" star="1"></span>
                            <span class="active" star="2"></span>
                            <span class="active" star="3"></span>
                            <span class="active" star="4"></span>
                            <span class="" star="5"></span>
                    </case>
                    <case value="3">
                        <span class="active" star="1"></span>
                        <span class="active" star="2"></span>
                        <span class="active" star="3"></span>
                        <span class="" star="4"></span>
                        <span class="" star="5"></span>
                    </case>
                    <case value="2">
                        <span class="active" star="1"></span>
                        <span class="active" star="2"></span>
                        <span class="" star="3"></span>
                        <span class="" star="4"></span>
                        <span class="" star="5"></span>
                    </case>
                    <case value="1">
                        <span class="active" star="1"></span>
                        <span class="" star="2"></span>
                        <span class="" star="3"></span>
                        <span class="" star="4"></span>
                        <span class="" star="5"></span>
                    </case>
                    <case value="0">
                        <span class="" star="1"></span>
                        <span class="" star="2"></span>
                        <span class="" star="3"></span>
                        <span class="" star="4"></span>
                        <span class="" star="5"></span>
                    </case>
                </switch>
            </span>
            <span class="review-title">{$rs['review_title']}</span>
        </p>
        <p>
            <span class="gray-light">By </span><span class="review-by">{$rs['review_create_username']}</span>  <span class="gray-light">on {$rs['review_create_time']|substr=0,16}</span>
        </p>
        <p>
            {$rs['review_content']}
        </p>
    </div>
</foreach>
