
<foreach name="product" item="rs">
    <li class="product_slider_item">
        <div class="product_slider_item_pic prodict-img">
            <a href="/productinfo/{$rs['item_id']}" title="{$rs['item_title']}">
                <img src="/image_create.php?big_img={$rs['image_sku']}&item_id={$rs['item_id']}&size=product_list" alt="{$rs['item_title']}">
            </a>
        </div>
        <!--
        <p class="product_slider_color">
        </p>
        -->
        <div class="product_slider_item_txt prodict-text">
            <h3>
                <a href="/productinfo/{$rs['item_id']}" title="{$rs['item_title']}">{$rs['item_title']}</a>
            </h3>
            <p></p>
            <foreach name="attr_detail[$rs['item_id']]" item="attr" key="attr_name">
                <p style="padding-top: 4px;">
                    <label>{$attr_name}: </label>
                    <foreach name="attr" item="val">
                        <span>{$val}&nbsp;&nbsp;</span>
                    </foreach>
                </p>
            </foreach>
        </div>
    </li>
</foreach>
