/* login.html css */
p, td, tr{
	margin: 0;
	padding: 0;
}
.wrapper_block{
	min-height: 400px;
    padding: 40px 0;
    width: 100%;
}
div{
	position: relative;
}
.wraps{
	width: 80%;
	margin: 0 auto;
}
.sign_bar{
	background: #fff none repeat scroll 0 0;
}
.padding_bar{
	padding: 20px 20px 40px;
}
.other_login{
	border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
    padding: 10px 0 20px;
}
.other_login p{
	padding: 10px 0;
	overflow: hidden;
}
.lg_span{
	margin-right: 30px;
    width: 33%;
    float: left;
}
.lg_btn{
	background: rgba(0, 0, 0, 0) url("../image/bg1.gif") repeat-x scroll center bottom;
    border: 1px solid #ddd;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
}
.lg_ico{
	border-radius: 2px;
    height: 30px;
    margin: 5px 30px 0 0;
    width: 30px;
}
.gg_ico{
	background-color: #007eff;
    background-position: 0 -60px;
}
.lg_btn_txt{
	 font-size: 120%;
}
.lg_span em {
    color: #999;
    padding: 20px 0;
    width: 70%;
    font-size: 1.2em;
}
.login_title {
    border-bottom: 1px dashed #ddd;
    color: #222;
    font-size: 120%;
    margin-bottom: 15px;
}
.form p {
    padding: 6px 0;
}
.sign_form label {
    padding: 5px 0;
}
.form .txt {
    width: 50%;
}
.txt {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    height: 28px;
    padding: 3px 5px;
    width: 93%;
}
input[type="checkbox"] {
    height: 16px;
    line-height: 16px;
    width: 16px;
}
input, textarea, button, select {
    border: 1px solid #d8d8d8;
    font-family: inherit;
    font-weight: inherit;
    padding: 2px 10px;
    vertical-align: middle;
}
.form_a {
    margin-left: 30px;
}
.btn, .btn-default, .btn-primery {
    -moz-user-select: none;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    line-height: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 8px 20px;
    text-align: center;
    transition: all 0.3s ease 0s;
}
.sb_btn {
    background: #1572a8 none repeat scroll 0 0;
    margin-right: 5%;
}
.btn {
    border: medium none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 120%;
    padding: 5px 20px;
    text-align: center;
}
.login_up {
    border-top: 1px solid #ddd;
    margin-top: 20px;
    padding: 20px 0;
}
form a, .member_notice a, .member_side a, .sw_btn, .sw_pw_btn, .posts_title a, .message_pagelist a, .member_pbitem a, .member_pu_nocontent a, .member_table a, .member_pu_notice a, .member_tab a.hover, .titles_link, .message_table .message_content a, .message_table .message_link_box a, .url_opentd:hover, .customer_user a {
    color: #1572a8;
}
form a:hover{
	text-decoration: underline;
}
